*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 100%;
}


.main-form{
  display: flex;
  justify-content: center;
  padding-top:5.3125rem;
  padding-bottom: 6rem;
  
}
.drop-item{
  width: 3.125rem;
  height: 2.5rem;
}
@media(main-width:998px) {
  html{
    font-size: 55%;
  }
  
}
@media(main-width:768px) {
  html{
    font-size: 45%;
  }
  
}